<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

            <font size="4"> <a class="nav-link" href="/logout">Logout</a> </font>

        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <br>
                <br>
                <br>
                <ul class="nav flex-column">
                    <li class="nav-item">
                <span data-feather="home"></span>
                Home
                </li>
                </ul>

            </div>
        </nav>
    </div>
</div>