
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h3 class="mb-3">User Info</h3>

    <div class="table-responsive">

        <table class="table table-striped table-sm" >
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Company</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="${user.id}">
                <td>${user.FirstName}</td>
                <td>${user.LastName}</td>
                <td>${user.Email}</td>
                <td>${user.PhoneNumber}</td>
                <td>${user.Company}</td>
            </tr>
        </tbody>
        </table>
    </div>
</main>
